<!-- Wide card with share menu button -->
<div class="col-sm-6 offset-sm-3 mt-3 pt-3">
    <div class="flex center middle">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Welcome</h2>
            </div>
            <div class="mdl-card__supporting-text">
                <div class="demo-list-action mdl-list">
                    <div class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>Bryan Cranston</span>
                        </span>
                        <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                    </div>
                    <div class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>Aaron Paul</span>
                        </span>
                        <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                    </div>
                    <div class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>Bob Odenkirk</span>
                        </span>
                        <span class="mdl-list__item-secondary-content">
                            <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised">
                    Get Started
                </a>
            </div>
            <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                   <i class="material-icons">close</i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var target = document.querySelector('.demo-card-wide');
    var text = document.querySelector('.mdl-card__supporting-text');
    //var close = document.querySelector('.close');

    var timingFunctionExpand = function (t) {
        return --t * t * t * t * t + 1;
    };

    var timingFunctionCollapse = function (t) {
        if ((t *= 2) < 1) {
            return 0.5 * t * t * t * t * t;
        }

        return 0.5 * ((t -= 2) * t * t * t * t + 2);
    };

    target.addEventListener('click', function () {

        var options = {
            easing: timingFunctionExpand,
            duration: 500
        };

        var flipGroup = FLIP.group([
            Object.assign({}, options, { element: target}),
            Object.assign({}, options, { element: text })
//            Object.assign({}, options, { element: headerUnderlay }),
//            Object.assign({}, options, { element: itemUnderlay }),
//            Object.assign({}, options, { element: itemTitle, delay: 200 }),
//            Object.assign({}, options, {
//                element: itemList, duration: 800, delay: 200
//            })
        ]);

        // First position & opacity.
        flipGroup.first();

        text.classList.add('open');
        // Apply the 'end' class and snapshot the last position & opacity.
        flipGroup.last('open');

        // Move and fade the element back to the original position.
        flipGroup.invert();

        // Play it forwards.
        flipGroup.play();
    });

</script>