.box {
    background: pink;
    height: 100px;
    width: 100px;
}

.box.end {
    height: 500px;
    width: 500px;
    background: yellow;
}

.demo-card-wide.mdl-card {
    height:200px;
    width:200px;
}

.demo-card-wide.mdl-card.open {
    width: 512px;
    height: 100%;
}

.demo-card__title-container {
    background-color: pink;
    height:200px;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height:200px;
    background: url('https://www.w3schools.com/css/img_fjords.jpg') center / cover;
}

.mdl-card__supporting-text {
    height: 0;
}

.mdl-card__supporting-text.open {
    height: 100%;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
    display: none;
}

.demo-card-wide>.mdl-card__menu.open {
    display: block;
}

.mdl-card__actions {
    display: none;
}

.mdl-card__actions.open {
    display: block;
}

.demo-list-action {
    width: 300px;
}

.flex {
    display: flex;
    height: 100%;
    width: 100%;
}

.flex.center {
    align-items: center;
}

.flex.middle {
    justify-content: center;
}

#js-iframe {
    width: 288px!important;
    height: 568px!important;
}